Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

##### 2. Какое количество уникальных значений у поля InternetService?

In [3]:
df['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [4]:
median = df['TotalCharges'].median()
mean = df['TotalCharges'].mean()
std = df['TotalCharges'].std()

print(f'Медиана сталбца TotalCharges: {median}')
print(f'Среднее сталбца TotalCharges: {mean}')
print(f'Среднее квадратичное сталбца TotalCharges: {std}')

TypeError:

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

Тип данных столбца "TotalCharges" object, необходимо заменить его на float64

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [5]:
df['PhoneService'].value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [6]:
replace = (df['PhoneService'] == 'Yes')

df.loc[replace, 'PhoneService'] = float(1) # Заменяем значения "Yes" на 1

replace = (df['PhoneService'] == 'No')

df.loc[replace, 'PhoneService'] = float(0) # Заменяем значения "No" на 0

In [7]:
df['PhoneService'].value_counts()

1.0    6361
0.0     682
Name: PhoneService, dtype: int64

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [8]:
df.loc[df.TotalCharges == ' ', 'TotalCharges'] = np.nan # Замена пробелов на "NaN"

In [9]:
df['TotalCharges'] = df['TotalCharges'].astype(float)

In [10]:
df['TotalCharges'].fillna(float(0), inplace=True)

In [11]:
df['TotalCharges'].isna().sum()

0

In [12]:
median = df['TotalCharges'].median()
mean = df['TotalCharges'].mean()
std = df['TotalCharges'].std()

print(f'Медиана сталбца TotalCharges: {median}')
print(f'Среднее сталбца TotalCharges: {mean}')
print(f'Среднее квадратичное сталбца TotalCharges: {std}')

Медиана сталбца TotalCharges: 1394.55
Среднее сталбца TotalCharges: 2279.734303563826
Среднее квадратичное сталбца TotalCharges: 2266.7944696890195

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [13]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [14]:
replace = (df['Churn'] == 'Yes')

df.loc[replace, 'Churn'] = float(1) # Заменяем значения "Yes" на 1

replace = (df['Churn'] == 'No')

df.loc[replace, 'Churn'] = float(0) # Заменяем значения "No" на 0

In [15]:
df['Churn'].value_counts()

0.0    5174
1.0    1869
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [16]:
df['StreamingMovies'].value_counts()

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

In [17]:
df['StreamingTV'].value_counts()

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

In [18]:
df['TechSupport'].value_counts()

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

In [19]:
df.loc[df['StreamingMovies'] == 'Yes', 'StreamingMovies'] = float(1) # Заменяем значения "Yes" на 1
df.loc[df['StreamingMovies'] == 'No', 'StreamingMovies'] = float(0) # Заменяем значения "No" на 0
df.loc[df['StreamingMovies'] == 'No internet service', 'StreamingMovies'] = int(0)

df.loc[df['StreamingTV'] == 'Yes', 'StreamingTV'] = float(1) # Заменяем значения "Yes" на 1
df.loc[df['StreamingTV'] == 'No', 'StreamingTV'] = float(0) # Заменяем значения "No" на 0
df.loc[df['StreamingTV'] == 'No internet service', 'StreamingTV'] = float(0)

df.loc[df['TechSupport'] == 'Yes', 'TechSupport'] = float(1) # Заменяем значения "Yes" на 1
df.loc[df['TechSupport'] == 'No', 'TechSupport'] = float(0) # Заменяем значения "No" на 0
df.loc[df['TechSupport'] == 'No internet service', 'TechSupport'] = float(0)

In [20]:
df['StreamingMovies'].value_counts()

0.0    4311
1.0    2732
Name: StreamingMovies, dtype: int64

In [21]:
df['StreamingTV'].value_counts()

0.0    4336
1.0    2707
Name: StreamingTV, dtype: int64

In [22]:
df['TechSupport'].value_counts()

0.0    4999
1.0    2044
Name: TechSupport, dtype: int64

In [23]:
df['PhoneService'] = df['PhoneService'].astype(float)

In [24]:
df['Churn'] = df['Churn'].astype(float)

In [25]:
df['StreamingMovies'] = df['StreamingMovies'].astype(float)

In [26]:
df['StreamingTV'] = df['StreamingTV'].astype(float)

In [27]:
df['TechSupport'] = df['TechSupport'].astype(float)

In [28]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService        float64
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport         float64
StreamingTV         float64
StreamingMovies     float64
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn               float64
dtype: object

##### 8. Заполните пропуски в поле PhoneService значением 0

In [29]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

В поле PhoneService пропуски не обнаружены.

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [30]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']

new_df = df[columns]
new_df.columns.tolist()

['gender',
 'tenure',
 'PhoneService',
 'TotalCharges',
 'StreamingMovies',
 'StreamingTV',
 'TechSupport',
 'Churn']

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [31]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'

X = new_df.drop(columns=['Churn'])
y = new_df['Churn']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=0)
X_train.shape, X_test.shape

((4930, 7), (2113, 7))

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [33]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [34]:
#gender.fit_transform(X_train, y_train)

In [35]:
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
3580              1            0
2364              0            1
6813              1            0
789               0            1
561               0            1
...             ...          ...
4931              0            1
3264              1            0
1653              0            1
2607              0            1
2732              1            0

[4930 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [36]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [37]:
total_charges = Pipeline([('selector', NumberSelector(key='TotalCharges')),
                         ('standart', StandardScaler())])

Объединение всех "кубиков" очень легко сделать таким образом

In [38]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [39]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', total_charges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [40]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standart',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [41]:
preds = pipeline.predict_proba(X_test)
preds[10:]

array([[0.96, 0.04],
       [0.9 , 0.1 ],
       [0.99, 0.01],
       ...,
       [0.75, 0.25],
       [0.89, 0.11],
       [0.41, 0.59]])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [42]:
from sklearn.metrics import roc_auc_score, log_loss

roc_auc_score(y_test, preds[:,1])

0.7846588538044234

### Сохраним наш пайплайн

In [43]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)